.aboutImage {
  width: 200px;
  height: 200px;
  margin: 10px auto 0 auto;
  border-radius: 50%;
  overflow: hidden;

}

.aboutImage img {
  width: 100%;
  height: 200px;
}

h1 {
  text-align: center;
  font-size: 48px;
}
